{% extends 'app/layouts/layout.html' %}
{% block root %}
    <style>
    .app{
        height: 400px;
        width: 1000px;
        background-color: #5a6268;
        display: flex;
    }
    .myimg{
        width: 40%;

    }
    .contents{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
    }
    </style>
    <div class="app">
    <div class="myimg" ><img width="600" height="400" src="{{ app.poster.url }}" alt="..."></div>
    <div class="contents">
        <div> <h1>{{ app.name }}</h1> </div>
        <div>{{ app.description }}   </div>
        <div>  {{ app.created_at }} </div>
    </div>
    </div>


    <hr>
        <center><h3>add comment</h3></center>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">title</label>
                <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">comment</label>
                <textarea name="comment" id="exampleInputPassword1" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword4" class="form-label">Rating</label>
                <input name="star" type="range" class="form-range" min="0" max="10" id="customRange2">
            </div>

            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </form>
        <hr>
        <center><h3>comments</h3></center>
        <br><br><br>
{% endblock %}